/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    background-image: url("assets/nature1-min.JPG");
    background-size: cover;
}

.transparent {
    opacity: 0.8
}