<br>
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
        <div class="card">
            <img src="assets/profile1-min.jpg" alt="subhod" style="width:100%">
            <h1>Subhod I</h1>
            <p class="title">Blockchain research & development</p>
            <p>Computer Science Engineering <i class="fa fa-graduation-cap"></i></p>
            <div class="row">
              <div class="col"><a href="https://github.com/subhodi"><i class="fa fa-github"></i></a> </div>
              <div class="col"><a href="https://twitter.com/subhod_i"><i class="fa fa-twitter"></i></a> </div>
              <div class="col"><a href="https://www.linkedin.com/in/subhod-i/"><i class="fa fa-linkedin"></i></a> </div>
              <div class="col"><a href="https://stackoverflow.com/users/4048643/subhod-i"><i class="fa fa-stack-overflow"></i></a> </div>
            </div>
            <p><button> <a href="mailto:subhodpoojary@gmail.com" target="_top"><span style="color:white">Contact</span></a></button></p>
          </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
