<br>

<div class="jumbotron jumbotron-fluid  bg-dark transparent text-white">
  <div class="container">
    <h3 class="">Apprx 1min 12 sec to read</h3>

    <p>A ton of love towards Instruction set processors and gas combustion engines.
      In the Blockchain domain, Experienced in writing smart contracts and building DApps on Ethereum. Exploring
      Distributed ledger technologies for enterprise use-cases. Cryptography and identity management are my
      strong areas.
      Few open source contributions over GitHub and would love to contribute more.</p>

    <b>Following areas where I can help you</b>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">Blockchain solution/ Tech stack suggestions</li>
      <li class="list-group-item list-group-item-dark">UX review</li>
      <li class="list-group-item list-group-item-dark">Advise on new Bike, Car, Truck, Laptop, and Smartphone </li>
      <li class="list-group-item list-group-item-dark">Riding/Driving</li>
      <li class="list-group-item list-group-item-dark">Digital payments</li>
      <li class="list-group-item list-group-item-dark">Trip planning</li>
    </ul>
    <br>
    <b>Areas where I cannot help you</b>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">Fashion/Shopping</li>
      <li class="list-group-item list-group-item-dark">Laptop/Desktop repair</li>
      <li class="list-group-item list-group-item-dark">Cooking</li>
      <li class="list-group-item list-group-item-dark">Fitness related</li>
      <li class="list-group-item list-group-item-dark">Tax and other govt services</li>
      <li class="list-group-item list-group-item-dark">Smart investment and finance management</li>
    </ul>
  </div>
  <br>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <a href="#contact" [routerLink]="['/contact']" class="btn btn-outline-light align-center">Contact</a>
    </div>
    <div class="col"></div>
  </div>
</div>